.search {
    padding-top: 6rem;
}

.items {
    padding: 2rem;
    padding-top: 3.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.5rem 4rem;
}

.loader {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}