.container {
    display: flex;
    height: 2.35rem;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.input {
    display: none;
}

.input:checked+.checkbox::before {
    border: .2rem solid var(--theme-border-secondary);
}

.input:checked+.checkbox::after {
    background-color: var(--theme-border-secondary);
    left: 1.6rem;
}

.checkbox {
    position: relative;
    width: 3.6rem;
    height: 2.2rem;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute; 
        width: 3.2rem;
        height: 1.8rem;
        border: .2rem solid var(--theme-border-primary);
        border-radius: 2rem;
        transition: all .3s linear;
    }

    &::after {
        content: "";
        position: absolute;
        top: .3rem;
        left: .3rem;
        width: 1.6rem;
        height: 1.6rem;
        background-color: var(--theme-border-primary);
        border-radius: 2rem;
        transition: all .3s linear;
    }
}

.label {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--theme-color-primary);
    cursor: pointer;
}
 