.wrapper {
    width: 55rem;
    padding: 0 2rem;
}

.room__connect {
    width: 20rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.room__name {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--theme-color-primary);
}

.room__owner__name {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--theme-color-link);
    margin-top: 0.5rem;
}

.room__connected__users {
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    max-height: 14.5rem;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.room__connected__user {
    width: 4.5rem;
    height: 4.5rem;
    background-color: #696969;
    border-radius: 50%;
}

.room__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 1rem; 
    overflow: hidden;
}

.room__tag {
    background-color: var(--theme-bg-tertiary);
    border-radius: .7rem;
    padding: .3rem .8rem;
    color: var(--theme-color-secondary);
    line-height: 1.2rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}