backend/auth-service/build
backend/auth-service/keys
backend/auth-service/.env

backend/room-service/build
backend/room-service/.env

backend/signal-service/build
backend/signal-service/.env

backend/chat-service/build
backend/chat-service/.env
backend/chat-service/database/cassandra

backend/core/database/.env
backend/core/database/prisma/migrations

backend/node_modules

backend/postgres/pgdata