html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

input, button, textarea, select {
  font-family: inherit; 
  font-size: inherit;
}

html {
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} 

html {
  --theme-bg-primary: #F8F8F8;
  --theme-bg-secondary: #FFFFFF;
  --theme-bg-tertiary: #ECF6FF;
  --theme-color-primary: #000000;
  --theme-color-secondary: #00529E;
  --theme-color-link: #858585;
  --theme-color-placeholder: #A0A0A0;
  --theme-border-primary: #EDEDED;
  --theme-border-secondary: #00529E;
}