.header {
    height: 5rem;
    padding: 0 5rem;
    color: var(--theme-color-primary);
    background-color: var(--theme-bg-primary);
    box-shadow: 0px 0px 15px 0 var(--theme-shadow-primary);
}

.header__title {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    line-height: 5rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}