.island {
    width: 39rem;
    height: 4.5rem;
    transition: 0.4s;
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    opacity: 1;
    visibility: visible;
    transition: 0.4s;
}

.island__search {
    width: 100%;
    height: 100%;
    display: flex; 
    align-items: center;
    position: absolute;
    top: 0%;
    left: 0;
    padding-left: 2.5rem;
    
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.island__opening__search {
    width: 60rem;

    .container {
        opacity: 0;
        visibility: hidden;
    }
}

.island__open__search {
    .island__search {
        opacity: 1;
        visibility: visible;
    }
}

