.modal {
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: .5);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.visible {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__window {
    display: block; 
    max-width: 90%;
    max-height: 100vh;
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    height: 6rem;
    width: 100%;
    background-color: var(--theme-bg-secondary);
}

.modal__title {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--theme-color-primary);
}

.modal__content {
    padding: 2rem 3rem;
    max-height: calc(100vh - 6rem);
    overflow: auto;
}