.conferences {
    height: 100%;
    overflow: auto;
}

.conferences__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
}

.conferences__title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--theme-color-primary);
}