.main {
    width: 100%;
    min-height: 100vh;
    background-color: var(--theme-bg-tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 90%;
    max-height: 100vh;
}