.fl {
    display: flex;
}

.al-center {
    align-items: center;
}

.jf-center {
    justify-content: center;
}

.jf-between {
    justify-content: space-between;
}

.g-2 {
    gap: 2rem;
}

.g-3 {
    gap: 3rem;
}

.g-8 {
    gap: 8rem;
}

.w-35 {
    width: 35%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100%;
}

.w-140 {
    width: 140%;
}

.w-160 {
    width: 160%;
}

.m-auto {
    margin: auto;
}

.h-100vh {
    height: 100vh;
} 

.mt-4 {
    margin-top: 4rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 4rem;
}
 
.p-r {
    position: relative;
}

.text-al-center {
    text-align: center;
}

.text-semibold {
    font-weight: 600;
}

.text-16 {
    font-size: 1.6rem;
}

.text-14 {
    font-size: 1.4rem;
}

.text-primary {
    color: var(--theme-color-primary);
}

.text-secondary {
    color: var(--theme-color-secondry);
}

.text-placeholder {
    color: var(--theme-placeholder-primary);
}