.fl {
    display: flex;
}

.al-center {
    align-items: center;
}

.jf-between {
    justify-content: space-between;
}


.g-3 {
    gap: 3rem
}


.w-100 {
    width: 100%;
}

.w-140 {
    width: 140%;
}


.mb-1 {
    margin-bottom: 1rem;
}
 
.p-r {
    position: relative;
}

.text-al-center {
    text-align: center;
}

.text-semibold {
    font-weight: 600;
}

.text-16 {
    font-size: 1.6rem;
}

.text-14 {
    font-size: 1.4rem;
}

.text-primary {
    color: var(--theme-color-primary);
}

.text-secondary {
    color: var(--theme-color-secondry);
}