.fl {
    display: flex;
}


.g-1 {
    gap: 1rem;
}

.g-3 {
    gap: 3rem
}


.w-100 {
    width: 100%;
}

.w-140 {
    width: 140%;
}


.mb-1 {
    margin-bottom: 1rem;
}


.c-p {
    color: var(--theme-color-primary);
}

.c-s {
    color: var(--theme-color-secondry);
}
 