/* width */
::-webkit-scrollbar {
    display: block;
    width: .5rem;
    height: .5rem;
}
  
/* Track */
::-webkit-scrollbar-track {
    background-color: var(--theme-scroll-track-tertiary);
    border-radius: 1rem;
}
  
/* Thumb */
::-webkit-scrollbar-thumb {
    background-color: var(--theme-scroll-thumb-tertiary);
    border-radius: 1rem;

    &:hover {
        background-color: var(--theme-scroll-thumb-hover-tertiary);
    }
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: .5rem; 
    margin-right: .5rem;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: .5rem;
    margin-left: .5rem;
}

::-webkit-scrollbar-button {
    background-color: transparent;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}