body.dark {
    --theme-bg-primary: #1f1f1f;
    --theme-bg-secondary: #606060;
    --theme-bg-tertiary: #282828;
    --theme-bg-quaternary: #303030;

    --theme-color-primary: #FFFFFF;
    --theme-color-secondary: #ededed;
    --theme-color-quaternary: #FFFFFF;

    --theme-link-primary: #cecece;

    --theme-icon-primary: #FFFFFF;
    --theme-icon-secondary: #FFFFFF;
    --theme-icon-quaternary: #FFFFFF;

    --theme-placeholder-primary: #cecece;
    --theme-placeholder-secondary: #cecece;

    --theme-border-primary: #474747;
    --theme-border-secondary: #dedede;

    --theme-border-conf-user: #1f1f1f;
    --theme-border-conf-user-active: #606060;
    
    --theme-shadow-primary: #3a3a3a1a;

    --theme-scroll-track-tertiary: transparent;
    --theme-scroll-thumb-tertiary: #cecece;
    --theme-scroll-thumb-hover-tertiary: #FFFFFF;
}