body.dark {
    --theme-bg-primary: #282828;
    --theme-bg-secondary: #1f1f1f;
    --theme-bg-tertiary: #606060;
    --theme-bg-room-line: #CECECE;
    --theme-color-primary: #FFFFFF;
    --theme-color-secondary: #ededed;
    --theme-color-link: #cecece;
    --theme-color-icon: #FFFFFF;
    --theme-color-placeholder: #cecece;
    --theme-border-primary: #474747;
    --theme-border-secondary: #dedede;
    --theme-shadow-primary: #6161611a;
}