body.light {
    --theme-bg-primary: #FFFFFF;
    --theme-bg-secondary: #526A7D;
    --theme-bg-tertiary: #F8F8F8;
    --theme-bg-quaternary: #f0f3f5;
    
    --theme-color-primary: #000000;
    --theme-color-secondary: #FFFFFF;
    --theme-color-quaternary: #000000;

    --theme-link-primary: #858585;

    --theme-icon-primary: #000000;
    --theme-icon-secondary: #FFFFFF;
    --theme-icon-quaternary: #000000;

    --theme-placeholder-primary: #A0A0A0;
    --theme-placeholder-secondary: #526A7D;

    --theme-border-primary: #EDEDED;
    --theme-border-secondary: #526A7D;
    
    --theme-border-conf-video: #FFFFFF;
    --theme-border-conf-video-active: #526A7D;

    --theme-shadow-primary: #51687b30;

    --theme-scroll-track-tertiary: transparent;
    --theme-scroll-thumb-tertiary: #888;
    --theme-scroll-thumb-hover-tertiary: #555;
}