.container {
    max-width: 100rem;
    margin: 0 auto;
}

.settings {
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--theme-color-primary);
}

.settings__items {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.settings__conference__voiceaudio {
    display: flex;
    gap: 3rem;
}