.panel__content {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2rem 3rem;
}

.panel__header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--theme-bg-quaternary);
    z-index: 10;
}

.panel__header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    height: 6rem;
    width: 100%;
}

.panel__header__title {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--theme-color-quaternary);
}