@import "../../../styles/mixins.scss";

.panel__content {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2rem 3rem;

    @include fix_scroll_for_panel_plus_header;
}

.panel__header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--theme-bg-quaternary);
    z-index: 10;
}

.panel__header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    height: 5rem;
    width: 100%;
}

.panel__header__title {
    width: 95%;
    font-size: 1.6rem;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--theme-color-quaternary);
}