.message__box {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    padding: 1.2rem 2rem;
    width: 100%;
    color: var(--theme-color-quaternary);
    background-color: var(--theme-bg-quaternary);
    border-radius: 2rem;
}

.message__box__input {
    align-self: center;
    flex-grow: 1;
    min-height: 2.2rem;
    max-height: calc(15rem - 2.5rem);
    font-size: 1.6rem;
    font-weight: 400;
    border: none;
    outline: none;
    overflow: auto;
}