.room {
    padding: 6rem 12.5rem;
}

.room__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 4rem;
    color: var(--theme-color-primary);
}

.room__btn__leave {
    height: 4rem;
    min-width: 17rem;
}

.room__cards {
    margin-top: 7rem;
}