.sections {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
    overflow: auto;
}

.section__title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--theme-color-primary);
}