.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.card {
    width: 30rem;
    height: 16rem;
    font-weight: 600;
    border-radius: 2rem;
    border: 0.1rem solid var(--theme-bg-tertiary);
    transition: 0.3s;
    cursor: pointer;


    &:hover {
        border: 0.1rem solid var(--theme-bg-secondary);

        .card__title {
            color: var(--theme-color-primary);
        }
    }
}

.card__wrapper {
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card__title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--theme-color-primary);
    transition: 0.3s;
}

.card__hint {
    margin-top: .5rem;
    color: var(--theme-placeholder-primary);
    transition: 0.3s;
}

.card__voicevideo {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
