.modal {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--theme-color-primary);
}

.modal__fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal__fields__tag {
    display: flex;
    gap: 2rem;
}

.modal__fields__tag__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
}

.modal__fields__tags {
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.modal__fields__tags__title {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--theme-color-primary);
}

.modal__fields__tags__items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.modal__fields__tags__item {
    color: var(--theme-color-secondary);
    background-color: var(--theme-bg-secondary);
    border-radius: .7rem;
    padding: 0 1rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}