.audios {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: var(--theme-color-primary);
    background-color: var(--theme-bg-primary);
    border-radius: 2rem;
}

.audios__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem; 
}