.conferences {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.conferences__empty {
    padding: 6rem 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--theme-color-primary);
    text-align: center;
}